html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

li {
  display: inline-block;
}

body {
  background-color: black;
  color: seashell;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

header {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  height: 69px;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

main {
  padding-top: 69px;
}

#logo {
  height: 50px;
  padding: 0 10px;
}

header a {
  color: seashell;
  padding: 0 10px;
  text-decoration: underline;
}

header nav {
  flex-basis: 420px;
  flex-shrink: 0;
}

#mission {
  background-image: url("resources/images/img-mission-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

#mission h2,
#mission h4 {
  background-color: black;
  margin: 0;
  padding: 0.2em 0;
}

#featured {
  margin: 80px auto 0;
  max-width: 1000px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#featured figure {
  flex-shrink: 1;
  margin: 16px 14px;
  max-height: 230px;
  max-width: 300px;
}

#featured img {
  /*height: auto;*/
  width: 100%;
}

#featured figcaption {
  padding: 6px 0;
}

#locations {
  background-image: url("resources/images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 60px auto 0;
  max-width: 1200px;
  min-height: 500px;
}

#locations h2,
#locations h3 {
  margin: 0;
  padding: 0;
}

#locations h2 {
  margin: 60px 0 15px 0;
}

#locations address {
  background-color: black;
  font-style: normal;
  line-height: 3.5rem;
  margin: 5px 20px;
  padding-bottom: 15px;
  padding-top: 5px;
  width: 300px;
}

#contact-us {
  height: 200px;
}

#contact-us h2 {
  margin-top: 8px;
}

footer {
  margin: 20px;
  text-align: left;
}
